matplotlib==3.5.1
matplotlib-inline==0.1.2 
scipy==1.7.1 
hublib==0.9.96
opencv-python==4.5.5.62
python-libsbml==5.19.0
numpy==1.21.6
jupyter_core==4.8.1
jupyterlab==3.2.1
jupyterlab_widgets==1.0.0
notebook==6.4.5
